.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30px; 
    height: auto;
    margin-right: 8px;
    z-index: 1000;
  }
  /* Posiciona el navbar en la parte superior de la pantalla */



.logo {
  width: 150px;
}

.navbar-text {
  color: #63e630;
  font-weight: bold;
}

.nav-link {
  color: #fff; 
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #c3e6cb; 
}

.btn-link {
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.btn-link:hover {
  color: #72dc35; 
}


.logo {
  width: 95px; /* Ajuste de tamaño más pequeño para el logo */
  height: auto;
  margin-right: 10px;
}

.icon-cerrar-sesion {
  width: 20px; /* Tamaño más pequeño y proporcionado del ícono */
  margin-right: 5px;
}

.navbar-text {
  font-weight: 600;
  color: #ffffff; /* Texto blanco para mejor contraste */
}

