.footer-container {
  background-color: #f8f9fa;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%;
  position: relative; /* Cambia esto si es necesario */
  bottom: 0;
  margin-top: 50px; /* Asegúrate de que el margen no lo empuje al centro */
  padding: 20px; /* Espacio interno */
}

  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons img {
    width: 30px;
    height: auto;
  }