.navbar {
    background-color: #5fdd0b;
}


.logo {
    width: 20px; /* Ajuste de tamaño más pequeño para el logo */
    height: auto;
    margin-right: 1px;
}

.icon-cerrar-sesion {
    width: 20px; /* Tamaño más pequeño y proporcionado del ícono */
    margin-right: 5px;
}


.navbar-text {
    font-weight: bold;
    color: #007bff;
}


