.navbar {
    background-color: #5fdd0b;
}

.logo {
    height: auto;
    margin-right: 20px;
}

.icon-cerrar-sesion {
    margin-right: 5px;
}
    
.navbar-text {
    font-weight: bold;
    color: #007bff;
}
